/*$white: #fff;
$bright1: #f7f7f7;
$bright2: #5f6f7a;

$black: #000;
$dark1: #29292a;
$dark2: #e8e8e8;*/

/*$white: #fff;
$bright1: #1e2529;
$bright2: #85a2b1;

$black: #000;
$dark1: #bde6fb;
$dark2: #354249;*/

$white: #fff;
$bright1: #f5f7fa;
$bright2: #20c2fb;

$black: #000;
$dark1: #123354;
$dark2: #c3e5f8;

/*$white: #fff;
$bright1: #202020;
$bright2: #c7c7c7;

$black: #000;
$dark1: #ffffff;
$dark2: #414141;*/

$green: #98971a;
$lightgreen: #b8bb26;
$yellow: #d79921;
$lightyellow: #fabd2d;
$red: #cc241d;
$lightred: #fb4934;
$blue: #0db7ed;
$lightblue: #83a598;
$magenta: #b16286;
$lightmagenta: #d3869b;
$cyan: #689d6a;
$lightcyan: #8ec07c;
$gray: #928374;
$lightgray: #a89984;

$warning: $yellow;
$error: $red;

$urgent: $red;
